*{
    max-width: 1700px;
    

}
.logo{
    grid-area: logo;
}
.nav{
    grid-area: nav;
}
.bigPhoto{
    grid-area: bigPhoto;
}
.about{
    grid-area: about;
}
.road{
    grid-area:road;
}
.roadPic{
    grid-area: roadPic;
}
.roadText{
    grid-area: roadText;
}
.air{
    grid-area: air;
}
.airPic{
    grid-area: airPic;
}
.airText{
    grid-area: airText;
}
.ocean{
    grid-area: ocean;
}
.oceanPic{
    grid-area: oceanPic;
}
.oceanText{
    grid-area: oceanText;
}
.contact{
    grid-area:contact;
}
.footer{
    grid-area: footer;
}


.site{
font-family: 'Poppins', sans-serif;
display: grid;
grid-gap: 5px;
grid-template-columns: 1fr;
grid-template-areas: 
"logo"
"nav"
"bigPhoto"
"about"
"road"
"roadPic"
"roadText"
"air"
"airPic"
"airText"
"ocean"
"oceanPic"
"oceanText"
"contact"
"footer";
margin: 5%;
justify-content: center;
font-size: 0.75rem;

}

@media only screen and (min-width:577px){
    .site{
        grid-gap:10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "logo logo logo logo"
        "nav nav nav nav"
        "bigPhoto bigPhoto bigPhoto bigPhoto"
        "about about about about"
        "road road road road"
        "roadPic roadPic roadText roadText"
        "air air air air"
        "airPic airPic airText airText"
        "ocean ocean ocean ocean"
        "oceanPic oceanPic oceanText oceanText"
        "contact contact contact contact"
        "footer footer footer footer";
        margin-left: 10%;
        margin-right: 10%;
        font-size: 0.85rem;
    }
    
}

@media only screen and (min-width:1280px){
    .site{
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "logo logo logo logo logo logo"
        "nav nav nav nav nav nav"
        "bigPhoto bigPhoto bigPhoto bigPhoto about about"
        "road road road road road road"
        "roadPic roadPic roadPic roadText roadText roadText"
        "air air air air air air" 
        "airPic airPic airPic airText airText airText"
        "ocean ocean ocean ocean ocean ocean"
        "oceanPic oceanPic oceanPic oceanText oceanText oceanText"
        "contact contact contact contact contact contact"
        "footer footer footer footer footer footer";
         font-size: 1rem;

    }
    
}
.nav{
   background-color: #7aa6c7;
   
}
.menu{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
a{
 text-decoration: none;

}
a:link{
    color: rgb(107, 54, 54);
    font-weight: bold;
}
a:hover{
    color: cadetblue;
}
.main{ 
    background-color: teal;
}
#logo{
    max-width: 100%;
}
.logo{
    
    display: flex;
    
    justify-content: center;
}
#mainphoto{
    max-width: 100%;
}
#truck1{
    max-width: 100%;
}

#plane{
    max-width: 100%;
}
#ship1{
    max-width: 100%;
}

.about{
    
    background-color:#acccd9;
}


h2{
    text-align: center;
}
h4{
    margin: 0;
    padding-bottom: 0;
}
p{
    margin: 0;
}
.road, .air, .ocean{
    text-align: center;
    font-weight: bold;
    
    background-color: #c5cac3;
}
.contact{
    background-color:#acccd9;
}