
.logo{
    grid-area: logo;
}
.menu{
    grid-area: menu;
}
.bigPhotp{
    grid-area: bigPhoto;
}
.about{
    grid-area: about;
}
.road{
    grid-area:road;
}
.roadPic{
    grid-area: roadPic;
}
.roadText{
    grid-area: roadText;
}
.air{
    grid-area: air;
}
.airPic{
    grid-area: airPic;
}
.airText{
    grid-area: airText;
}
.ocean{
    grid-area: ocean;
}
.oceanPic{
    grid-area: oceanPic;
}
.oceanText{
    grid-area: oceanText;
}

.site{
display: grid;
grid-gap: 5px;
grid-template-columns: 1fr;
grid-template-areas: 
"logo "
"menu"
"bigPhoto"
"about"
"road"
"roadPic"
"roadText"
"air"
"airPic"
"airText"
"ocean"
"oceanPic"
"oceanText";

}

@media only screen and (min-width:577px){
    .site{
        grid-gap:10px;
        grid-template-columns: 1fr 1fr ;
        grid-template-areas: 
        "logo logo"
        "menu menu"
        "bigPhoto bigPhoto"
        "about about";

    }
}